<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saladbar.houseoftoss" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitleBar" >
        <activity
            android:name="com.saladbar.houseoftoss.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saladbar.houseoftoss.OrderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.saladbar.houseoftoss.AssemblyActivity"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name="com.saladbar.houseoftoss.DisplayActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
